# ======================
# GLOBAL
# ======================
.DS_Store
Thumbs.db
.idea
.vscode
*.log

# ======================
# FRONTEND (Vue)
# ======================
front-end/node_modules
front-end/dist
front-end/.env
front-end/.env.*
front-end/.vite
front-end/.vscode

# ======================
# BACKEND (Laravel)
# ======================
back-end/vendor
back-end/node_modules
back-end/.env
back-end/.env.*
back-end/storage/*.key
back-end/storage/logs
back-end/storage/framework
back-end/public/storage
back-end/.vscode
# ======================
# CACHE & TEMP
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
